html {
  background-color: white;
}

#title {
  text-align: center;
  color: black;
  font-family: "Monoton", cursive;
  font-size: xx-large;
}

h2 {
  background-color: white;
  text-align: center;
}

.row {
  justify-content: center;
  display: flex;
}

.column {
  display: flex;
  align-items: center;
}

.square {
  border: solid;
  border-color: white;
  height: 80px;
  width: 80px;
}

#board {
  padding-top: 5%;
  padding-bottom: 5%;
}

#inputEl1 {
  width: 30px;
  border-radius: 10px;
}

#inputEl2 {
  width: 30px;
  border-radius: 10px;
}

#startButton {
  margin: 20px 0px 0px 60px;
}

#playerNameInput {
  margin: 0px;
}

#gameOptionsDiv {
  margin-top: 150px;
  text-align: center;
}
